.btn-success {
    color: #fff;
    background-color: #22B24C;
    border-color: #22B24C;
    height:100px;
    width: 300px;
    border-radius: 12px;
}

.btn-success:hover {
    color: #fff;
    background-color: #1c923e;
    border-color: #1a873a;
}

.btn-success:focus, .btn-success.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #22B24C;
    border-color: #22B24C;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1a873a;
    border-color: #187c35;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.5);
}

h2{
    text-align:center;
}
.rounded-circle{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.center{
    text-align: center;
}